body {
    background-color: black;
    font-family: Arial;
    min-height: 150vh;
    margin: 0;
    overflow-y: scroll;
    color: white;
}

body::-webkit-scrollbar {
    background: transparent;
    width: 5px;
}

body::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 5em;
}

header {
    height: 10vh;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: black;
    position: fixed;
    z-index: 1000;
}

h1 {
    position: inherit;
    color: white;
    font-size: 30px;
    font-weight: normal;
    margin-left: 30px;
    margin-top: 0px;
    margin-bottom: 0px;
    position: fixed;
}

button {
    background: none;
    border: none;
}

a {
    text-decoration: none;
    color: white;
}

.menu {
    position: absolute;
    right: 0;
    width: 800px;
    margin-right: 60px;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    position: fixed;
}

.my-link1 {
    color: white;
    text-decoration: none;
    font-size: 20px;
}
  
.my-link1:hover {
    text-decoration: none;
}

.moi {
    position: absolute;
    bottom: 50%;
    width: 100px;
    padding: 1px;
    transform: translateX(-40%);
    text-align: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease, visibility 0.2s ease;
    font-size: 15px;
}

.my-link1:hover .moi {
    opacity: 1;
    visibility: visible;
}

.my-link1:not(:hover) .moi {
    opacity: 0;
    visibility: hidden;
    transition: .5s;
}

.my-link1:visited {
    text-decoration: none;
}

.button {
    width: 200px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-weight: 600;
    font-size: 19px;
    border-radius: 5em;
    margin-left: 45px;
}

.button-1 {
    position: relative;
    overflow: hidden;
    border: 3px solid #ffffff;
    transition: .7s;
}

.button-1:hover {
    color: black;
    transition: .7s;
    border: 3px solid black;
}

.button-1::before, .button-1::after {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    transition: transform 0.5s;
    z-index: -1;
}

.button-1::before {
    transform: translateX(0);
}

.button-1::after {
    transform: translateX(-100%);
}

.button-1:hover::before {
    transform: translateX(100%);
}

.button-1:hover::after { 
    transform: translateX(0);
}

.p1 {
    background-image: linear-gradient(transparent 0%, transparent 90%, white 90%, white 100%);
    background-repeat: no-repeat;
    background-size: 0% 100%;
    background-position-x: right;
    transition: background-size 300ms;
}

.p1:hover {
    background-size: 100% 100%;
    background-position-x: left;
}